body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #eae5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: #d7cfcf;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #858585;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background: #5050de;
    color: #d2cbcb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #101062;
}

#message {
    margin-top: 10px;
}
