<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('ABOUT_TITLE') %></title>
</head>
<body>
<h1><%= __('ABOUT_TITLE') %></h1>
<p>Current year: <%= date %></p>
<p>Current hour: <%= hour %></p>
</body>
