<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('CONTACT_TITLE') %></title>
</head>
<body>
<h1><%= __('CONTACT_TITLE') %></h1>
<p>link: <%= link %></p>
</body>
